<app-nav></app-nav>

<div id="header2">
  <div class="container">
    <div class="row">
      <div class="col-sm-0 col-md-2 col-lg-1 col-xl-1"></div>
      <div class="col-sm-12 col-md-8 col-lg-10 col-xl-10 text-center">
        <h5 class="fw-lighter">
          <em>"Cambia, aunque sea lentamente, porque la dirección es más importante que la velocidad". </em>
        </h5>
        <h2 class="txtheader2 text-center" id="lbPrograma"><em>Programas</em></h2>
      </div>
      <div class="col-sm-0 col-md-2 col-lg-1 col-xl-1"></div>
    </div>
  </div>
</div>

<div class="body2">
  <div class="container">
    <div class="row" style="padding-top: 30px;">
      <div class="col-sm-1 col-md-2 col-lg-1 col-xl-1">
      </div>
      <div class="col-sm-10 col-md-8 col-lg-10 col-xl-10 text-center">
        <p class="text-black fw-bold">
          Comunidad Serviacero ofrece programas que puedes tomar y participar
          para mejorar tu desarrollo personal y profesional
        </p>
      </div>
      <div class="col-sm-1 col-md-2 col-lg-1 col-xl-1"></div>
    </div>

    <div class="row mb-3" style="padding-top: 30px;">
      <div class="col" style="height: 100%; background-color: white;">
        <div role="tabpanel">
          <ul class="nav nav-tab" style="width: 100%;">
            <div class="row" style="width: 100%;">
              <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 text-center">
                <li class="tab-link p-2" routerLinkActive="active">
                  <div class="vstack align-items-center gap-2">
                    <span>Educación</span>
                    <img src="https://d32ada10zh60nl.cloudfront.net/images/courses-sections/course1.png"
                      class="icon-image responsive" alt="arte" title="Educación" [routerLink]="['/programas', 1]" />
                  </div>
                </li>
              </div>
              <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 text-center">
                <li class="tab-link p-2" routerLinkActive="active">
                  <div class="vstack align-items-center gap-2">
                    <span>Salud</span>
                    <img src="https://d32ada10zh60nl.cloudfront.net/images/courses-sections/course2.png"
                      class="icon-image responsive" alt="educacion" title="Salud" [routerLink]="['/programas', 2]" />
                  </div>
                </li>
              </div>
              <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 text-center">
                <li class="tab-link p-2" routerLinkActive="active">
                  <div class="vstack align-items-center gap-2">
                    Arte
                    <img src="https://d32ada10zh60nl.cloudfront.net/images/courses-sections/course3.png"
                      class="icon-image responsive" alt="arte" title="Arte" [routerLink]="['/programas', 3]" />
                  </div>
                </li>
              </div>
              <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 text-center">
                <li class="tab-link p-2" routerLinkActive="active">
                  <div class="vstack align-items-center gap-2">
                    Deporte
                    <img src="https://d32ada10zh60nl.cloudfront.net/images/courses-sections/course4.png"
                      class="icon-image responsive" alt="deporte" title="Deporte" [routerLink]="['/programas', 4]" />
                  </div>
                </li>
              </div>
            </div>
          </ul>
        </div>
      </div>
    </div>
    <ng-template #programsLoading>
      <div *ngIf="this.sectionId" class="vstack align-items-center mt-5">
        <p-progressSpinner></p-progressSpinner>
      </div>
    </ng-template>

      <!--Modificaciones de Oscar-->
    <ng-container *ngIf="(this.cityGroups$ | async) as cityGroups; else programsLoading">
      <p-accordion *ngIf="cityGroups && cityGroups.length > 0; else noDataTemplate" [activeIndex]="0"
        [(activeIndex)]="this.currentTabIndex" (activeIndexChange)="handleChangeIndex($event)">
        <p-accordionTab *ngFor="let cityGroup of cityGroups" [header]="cityGroup.name">
          <div class="row row-cols-2">
            <div *ngFor="let program of cityGroup.programs" class="col mb-3">
              <a [routerLink]="['/programas', this.sectionId, program.id]" [queryParams]="{index: this.currentTabIndex}"
                routerLinkActive="active" class="text-decoration-none text-black p-2">
                <p-badge [value]="program.type == 'e' ? 'externo':'interno'"
                  [severity]="program.type == 'e' ? 'warning':'success'"></p-badge>
                {{program.shortName}}
              </a>
            </div>
          </div>
        </p-accordionTab>
      </p-accordion>
    </ng-container>
      <!--Modificaciones de Oscar-->

    <!--Modificaciones de Oscar-->
    <ng-template #noDataTemplate>
      <div class="vstack align-items-center mt-5">
        <p class="text-black fw-bold">Por el momento no hay información disponible para esta sección.</p>
      </div>
    </ng-template>
    <!--Modificaciones de Oscar-->
    <router-outlet *ngIf="this.cityGroups$ | async"></router-outlet>

  </div>
</div>