<app-nav></app-nav>

<div id="header2">
  <div class="container">
    <div class="row">
      <div class="col-sm-0 col-md-2 col-lg-1 col-xl-1"></div>
      <div class="col-sm-12 col-md-8 col-lg-10 col-xl-10 text-center">
        <h5 class="fw-lighter">
          <em>"Cambia, aunque sea lentamente, porque la dirección es más importante que la velocidad". </em>
        </h5>
        <h2 class="txtheader2 text-center" id="lbPrograma"><em>Galería</em></h2>
      </div>
      <div class="col-sm-0 col-md-2 col-lg-1 col-xl-1"></div>
    </div>
  </div>
</div>

<ng-template #eventsLoading>
  <div class="d-flex justify-content-center mt-5">
    <p-progressSpinner></p-progressSpinner>
  </div>
</ng-template>

<div *ngIf="this.events$ | async; let events; else eventsLoading" class="container mt-5 mb-3">
  <div class="row">
    <div class="col-md-12" style="height: 100%; background-color: white">
      <ul class="nav nav-pills justify-content-center">
        <li class="nav-item" *ngFor="let event of events">
          <a class="nav-link" href="#" [routerLink]="['/galeria', event.id]" routerLinkActive="active">
            {{event.name}}
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

<router-outlet></router-outlet>

<div class="container" style="margin-top: 50px;">
  <ng-template #videoLoading>
    <div class="d-flex justify-content-center mt-5">
      <p-progressSpinner></p-progressSpinner>
    </div>
  </ng-template>
  <div *ngIf="this.video$ | async; let video; else videoLoading" class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
      <h5>¿Qué es Comunidad Serviacero?</h5>
      <div class="video">
        <video controls #videoPlayer style="width: 100%;">
          <source [src]="video" type="video/mp4" />
          Browser not supported
        </video>
      </div>
    </div>
    <div class="col-lg-2"></div>
  </div>
</div>