#header2{
  background-image: url("./../../assets/Imagenes/instalaciones/objeto2.png");
  width: 100%;
  text-align: center;
  color: white;
  padding-top: 30px;
  padding-bottom: 30px;
}

.dvExperiencias p {
  font-size: 13px;
  padding-top: 50px;
}

.dvExperiencias h1 {
  font-weight: bold;
}
.image-container {
  position: relative;
  display: inline-block;
}

.image-text1 {
  position: absolute;
  top: 35%;
  left: 15%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 14px;
}
.image-text2 {
  position: absolute;
  top: 35%;
  left: 44%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 14px;
}
.image-text3 {
  position: absolute;
  top: 35%;
  left: 76%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 14px;
}

.nav-link {
  color: #939393;
}

.active {
  color: #1679a2;
  font-weight: bold;
}

.icon-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

a:hover {
  color: #1679a2;
  font-weight: bold;
}

