<div id="login-wrapper" class="d-flex align-items-center justify-content-center vw-100 vh-100 p-5 overflow-hidden">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div id="form-login-container" class="rounded-5 bg-white mx-auto px-4 py-5">
          <div class="d-flex justify-content-center">
            <img id="login-icon" src="../../assets/Imagenes/login/icono1.png" width="100" />
          </div>
          <form>
            <input class="input-data-login mb-3" type="text" name="alias" [(ngModel)]="user.alias" required
              placeholder="Usuario" />
            <input class="input-data-login mb-3" type="password" name="password" [(ngModel)]="user.password" required
              placeholder="Contraseña" />
            <!-- <div class="hstack gap-1">
              <input id="remember-check" type="checkbox">
              <label class="small-text" for="remember-check">Recordarme</label>
            </div>
            <div class="w-100 text-center mt-1 mb-3 small-text">¿Olvidaste tu contraseña?</div> -->
            <button id="login-btn" class="rounded-3 border-0 text-white fw-bold w-100 py-2" (click)="login()">
              INGRESAR
            </button>
          </form>
        </div>
      </div>
      <div class="col" id="letrero">
        <div class="text-center">
          <img class="mb-2" src="../../assets/Imagenes/login/mi-familia-y-yo-somos.png" width="450" />
          <img class="mb-4" src="../../assets/Imagenes/login/comunidad-serviacero.png" width="300" />
          <div id="login-info-message" class="mx-auto mb-2" style="max-width: 490px;">
            Conoce más sobre el proyecto y regístrate al correo <b style="color: #cf1a2f;">comunidad@serviacero.com</b> o en el área de DO y estate atento a nuestras convocatorias.
          </div>
          <div class="hstack">
            <app-value *ngFor="let value of values" img="{{value.img}}" text="{{value.txt}}"></app-value>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
