@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

#imgHome{
    width: 250px;
    height: 100px;
}

.nav-item a{
  color: white;
}

nav {
color: black;

}

.navbar-scroll .nav-link,
.navbar-scroll .navbar-toggler-icon {
  color: #fff;
}

/* Color of the links AFTER scroll */
.navbar-scrolled .nav-link,
.navbar-scrolled .navbar-toggler-icon {
  color: #4f4f4f;
}

/* Color of the navbar AFTER scroll */
.navbar-scrolled {
  background-color: #fff;
}

/* An optional height of the navbar AFTER scroll */
.navbar.navbar-scroll.navbar-scrolled {
  padding-top: 5px;
  padding-bottom: 5px;
}
.navbar-collapse .nav-item .nav-link {
  margin-right: 0;
}

.navbar-nav .item{
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.3s;
}

.navbar-nav .item:hover{
  border-bottom: 1px solid #015fa0;
}

.navbar-nav .item.active{
  border-bottom: 1px solid #015fa0;
}

