<app-nav></app-nav>
<div class="container-fluid text-center container-loc">
  <div class="pt-5">
    <p class="pt-4">
      <em>
        "Cambia, aunque sea lentamente, por que la dirección es más importante
        que la velocidad."
      </em>
    </p>
    <h1 class="pb-5">Instalaciones</h1>
  </div>
</div>

<div class="d-flex justify-content-center mt-5">
  <p-progressSpinner *ngIf="this.citiesState.loading; else citiesContent"></p-progressSpinner>
  <ng-template #citiesContent>
    <div class="d-table shadow p-3 rounded-3">
      <div class="d-table-row">
        <div *ngFor="let city of this.citiesState.data" class="d-table-cell px-3 py-1 city-button">
          <a class="nav-link" [routerLink]="['/instalaciones', city.id]" routerLinkActive="active">{{city.name}}</a>
        </div>
      </div>
    </div>
  </ng-template>
</div>

<div class="container mt-5">
  <div *ngFor="let location of this.currentCityLocations">
    <h1 class="text-center mt-5">{{location.name.toUpperCase()}}</h1>
    <div class="row">
      <img [src]="this.location.imgUrl" />
    </div>
  </div>
</div>

<app-footer></app-footer>