<app-nav></app-nav>
<div class="container-fluid text-center container-loc">
  <div class="pt-5">
    <p class="pt-4">
      <em>
        "Cambia, aunque sea lentamente, porque la dirección es más importante
        que la velocidad."
      </em>
    </p>
    <h1 class="pb-5">Instalaciones</h1>
  </div>
</div>

<div class="d-flex justify-content-center mt-5">
  <ng-template #sitesLoading>
    <p-progressSpinner></p-progressSpinner>
  </ng-template>
  <div *ngIf="this.sites$ | async; let sites; else sitesLoading" class="d-table shadow p-3 rounded-3">
    <div class="d-table-row">
      <div *ngFor="let site of sites" class="d-table-cell px-3 py-1 city-button">
        <a class="nav-link" [routerLink]="['/instalaciones', site.id]" routerLinkActive="active">{{site.name}}</a>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>