<!-- Header de la página -->
<app-nav></app-nav>

<div id="header2">
  <div class="container">
    <div class="row">
      <div class="col-sm-0 col-md-2 col-lg-1 col-xl-1"></div>
      <div class="col-sm-12 col-md-8 col-lg-10 col-xl-10 text-center">
        <h5 class="fw-lighter">
          <em>"Cambia, aunque sea lentamente, porque la dirección es más importante que la velocidad". </em>
        </h5>
        <h2 class="txtheader2 text-center" id="lbPrograma"><em>Calendario</em></h2>
      </div>
      <div class="col-sm-0 col-md-2 col-lg-1 col-xl-1"></div>
    </div>
  </div>
</div>

<div class="dvCalendario">
  <div class="container">
    <div class="row">

      <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8" id="dvPcal">

        <div class="row">
          <!-- Calendario -->
          <!-- <div class="col-sm-4 col-md-6 col-lg-6 col-xl-6">
            <div class="btn-group">
              <div class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="">
                Anterior
              </div>
              <div class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate">
                Hoy
              </div>
              <div class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate">
                Siguiente
              </div>
            </div>
          </div> -->

         <!--  <div class="col-sm-8 col-md-6 col-lg-6 col-xl-6">
            <h5>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h5>
          </div> -->

          <div class="hstack">
            <button class="btn btn-primary" (onclick)="previous()">&lt;</button>
            <button class="btn btn-primary" (onclick)="next()">&gt;</button>
          </div>
          <div [ngSwitch]="view">
            <mwl-calendar-month-view id="CalView" *ngSwitchCase="'month'" [viewDate]="viewDate" [events]="this.newEvents">
            </mwl-calendar-month-view>
          </div>

        </div>

      </div>

      <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">

        <!-- Pestañas de los Almacenes -->
        <p class="text-muted">Agrega un filtro:</p>

        <p-tabView>
          <p-tabPanel *ngFor="let city of this.programsByCity.data" [header]="city.cityName" >
            <ul>
              <li *ngFor="let element of city.cityData">
                {{element.shortName}}
              </li>
            </ul>
          </p-tabPanel>
        </p-tabView>
      </div>
    </div>
  </div>
</div>

<!-- Panel que muestra la información del curso -->


<!-- Enrutamiento y Footer -->
<router-outlet></router-outlet>
<app-footer></app-footer>