<div class="container">
  <div *ngIf="this.imagesState.loading; else galleryCont" class="d-flex justify-content-center mt-5">
    <p-progressSpinner></p-progressSpinner>
  </div>
  <ng-template #galleryCont>
    <div class="row">
      <div class="col-1"></div>
      <div class="col-10">
        <p-galleria *ngIf="this.imagesState.data" [value]="this.imagesState.data" [numVisible]="5" [circular]="true"
          [showItemNavigators]="true" [showThumbnails]="false"
          [containerStyle]="{ 'max-width': '100%', 'margin-top': '2em' }">
          <ng-template pTemplate="item" let-item>
            <img [src]="item.image" style="width: 100%; display: block;" />
          </ng-template>
        </p-galleria>
      </div>
      <div class="col-1"></div>
    </div>
  </ng-template>
</div>