<ng-template #programLoading>
  <div class="vstack align-items-center mt-5">
    <p-progressSpinner></p-progressSpinner>
  </div>
</ng-template>
<div *ngIf="this.programDetail$ | async; let programaDetail; else programLoading">
  <div *ngIf="this.programaDetail.type == 'i'">
    <div id="dvCurso" style="margin-top: 20px;">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
          <h3 id="lbTitulo">{{programaDetail.name}}</h3>
        </div>
        <div class="col-0 col-sm-0 col-md-0 col-lg-6 col-xl-6"></div>
      </div>

      <div class="row">
        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
          <p id="lbDesc">
            {{programaDetail.description}}
          </p>

          <p class="h5">PLAN CURRICULAR:</p>
          <p id="lbMaterias" [innerHTML]="programaDetail.plan"></p>

          <p class="h5">REQUISITOS DEL PROGRAMA:</p>
          <p id="lbReq" [innerHTML]="programaDetail.req"></p>
        </div>
        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
          <p class="h5">COSTO DEL PROGRAMA:</p>
          <p id="lbCosto">
            {{programaDetail.cost}}
          </p>

          <p class="h5">¿QUÉ APOYO TE OTORGARÁ SERVIACERO?</p>
          <p id="lbApoyo">
            {{programaDetail.advantage}}
          </p>

          <p id="lbDate1">
            <span>Fecha inicio:</span>
            {{programaDetail.date}}
          </p>
          <p id="lbDate2">
            <span>Fecha fin:</span>
            {{programaDetail.end}}
          </p>

          <p id="lbTime">
            <span>Duración:</span>
            {{programaDetail.duration}}
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col col-md-auto">
          <div class="vstack gap-2">
            <a [href]="programaDetail.mainLink" target="_blank" class="btn btn-primary">
              Quiero Inscribirme
            </a>
            <a [href]="programaDetail.rulesLink" target="_blank" class="btn btn-primary" id="btReglamento">
              Consultar Política
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="programaDetail.type == 'e'">
    <div id="dvCurso2" style="margin-top: 20px;">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
          <h3 id="lbTitulo">{{programaDetail.name}}</h3>
        </div>
        <div class="col-0 col-sm-0 col-md-0 col-lg-6 col-xl-6"></div>
      </div>

      <div class="row">
        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
          <p id="lbDesc">
            {{programaDetail.description}}
          </p>

          <p class="h5">BENEFICIOS DE LA COMUNIDAD SERVIACERO:</p>
          <p id="lbMaterias" [innerHTML]="programaDetail.advantage"></p>
        </div>
        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
          <p class="h5">COSTO DEL PROGRAMA:</p>
          <p id="lbCosto">
            {{programaDetail.cost}}
          </p>

          <p class="h5">DOMICILIO:</p>
          <p id="lbCosto">
            {{programaDetail.address}}
          </p>

          <p class="h5">CONTACTO</p>
          <p>
            {{programaDetail.phone}}
            <br />
            {{programaDetail.email}}
          </p>

          <p>
            <a [href]="programaDetail.websiteLink">
              {{programaDetail.institution}}
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>